.tach-column {
    height:320px;
    float:center;
    position:relative;
    text-align:center;
    /* margin-top: 50px; */
    width: 320px;
}
.tach-description {
    margin-bottom:-40px;
    width: 320px;
}

#total-engagement, #ut1engagement, #ut2engagement {
  width: 100%;
  height: 200px;
}

.tachgroup {
  position: absolute;
}