body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.tach-column {
    height:580px;
    width:220px;
    float:center;
    margin-top:315px;
    position:relative;
    text-align:center;
}

#chartdiv {
  width: 100%;
  height: 300px;
}